.blog-card-container {
  border-radius: 0.2rem;
  overflow: hidden;
}

.blog-card-image-container img {
  width: 100%;
}

.blog-card-info-container {
  background-color: var(--grey);
  padding: 1rem;
}
