.white-button {
  background-color: var(--text);
  color: var(--background);
  border: none;
  padding: 1rem 2rem;
  border-radius: 2rem;
  font-size: 1rem;
  font-family: inherit;
  cursor: pointer;
}
