* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #1e201e;
  --code-block: #000000;
  --grey: #3c3d37;
  --light-grey: #697565;
  --muted-grey: #a9a9a9;
  --pink: #f4abc4;
  --light-pink: #ecdfcc;
  --yellow: #ffd369;
  --orange: #f09319;
  --light-blue: #6eacda;
  --light-green: #b1d690;
  --text: #ffffff;
  --max-container-width: 1192px;
}

html {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  font-style: normal;
}
@media (min-width: 640px) {
  html {
    font-size: 1.2rem;
  }
}

body {
  background-color: var(--background);
  color: var(--text);
  height: 100vh;
}

a {
  color: var(--text);
}

.container {
  width: 85%;
  max-width: var(--max-container-width);
}
@media (min-width: 640px) {
  .container {
    width: 100%;
  }
}

h1 {
  font-size: 1.5rem;
}
@media (min-width: 640px) {
  h1 {
    font-size: 2rem;
  }
}

code {
  font-family: monospace;
  color: var(--orange);
}
